@using MvcCV.Models.Entity
@model List<tbl_SocialMedia>


<div class="social-icons">
    
    <a class="social-icon" href="https://www.linkedin.com/in/mehmet-ali-turgut-a14420213/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
    <a class="social-icon" href="https://github.com/" target="_blank"><i class="fab fa-github"></i></a>
    
</div>